{% extends "layout.html" %}

{% block title %} History {% endblock %}

{% block main %}
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transaction Type</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stock_bought %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["number"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["change"] }}</td>
                    <td>{{ stock["date"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}